<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sample Flexmark page</title>
    <link rel="stylesheet" href="https://www.projectkeep.io/keep-core/css/apache-maven-fluido-1.8.min.css" />
    <link rel="stylesheet" href="https://www.projectkeep.io/keep-core/css/site.css" />
    <link rel="stylesheet" href="https://www.projectkeep.io/keep-core/css/print.css" media="print" />
    <script src="https://www.projectkeep.io/keep-core/js/apache-maven-fluido-1.8.min.js"></script>

    <!-- Admonition extension -->
    <link rel="stylesheet" href="https://www.projectcastle.io/admonition.css" />
    <script type="text/javascript">
    (() => {
    let divs = document.getElementsByClassName("adm-block");
    for (let i = 0; i < divs.length; i++) {
        let div = divs[i];
        if (div.classList.contains("adm-collapsed") || div.classList.contains("adm-open")) {
            let headings = div.getElementsByClassName("adm-heading");
            if (headings.length > 0) {
                headings[0].addEventListener("click", event => {
                    let el = div;
                    event.preventDefault();
                    event.stopImmediatePropagation();
                    if (el.classList.contains("adm-collapsed")) {
                        console.debug("Admonition Open", event.srcElement);
                        el.classList.remove("adm-collapsed");
                        el.classList.add("adm-open");
                    } else {
                        console.debug("Admonition Collapse", event.srcElement);
                        el.classList.add("adm-collapsed");
                        el.classList.remove("adm-open");
                    }
                });
            }
        }
    }
})();
    
    </script>
  </head>
  <body class="topBarDisabled">
    <div class="container-fluid">
      <header>
        <div id="banner">
          <div class="pull-left"><a href="https://www.projectkeep.io/" id="bannerLeft"><img src="https://www.projectkeep.io/keep-core/images/keeplogo200x44.png"  alt="Project Keep"/></a></div>
          <div class="pull-right"></div>
          <div class="clear"><hr/></div>
        </div>

        <div id="breadcrumbs">
          <ul class="breadcrumb">
        <li id="projectVersion">Version: 0.6.3</li>
        <li id="publishDate" class="pull-right">Last Published: 2020-04-08</li>
          </ul>
        </div>
      </header>
      <div class="row-fluid">
        <header id="leftColumn" class="span2">
          <nav class="well sidebar-nav">
  <ul class="nav nav-list">
   <li class="nav-header">Developer documentation</li>
    <li class="active"><a href="#"><span class="none"></span>Start</a></li>
    <li><a href="installation.html" title="Installation"><span class="none"></span>Installation</a></li>
    <li><a href="configuration/index.html" title="Configuration"><span class="icon-chevron-right"></span>Configuration</a></li>
    <li><a href="administration.html" title="Administation"><span class="none"></span>Administation</a></li>
    <li><a href="" title="Operation"><span class="icon-chevron-right"></span>Operation</a></li>
    <li><a href="openapi-spec.html" title="OpenAPI"><span class="none"></span>OpenAPI</a></li>
    <li><a href="design/index.html" title="Design and Code"><span class="icon-chevron-right"></span>Design and Code</a></li>
    <li><a href="design/testing.html" title="Testing"><span class="none"></span>Testing</a></li>
   <li class="nav-header">Project Documentation</li>
    <li><a href="project-info.html" title="Project Information"><span class="icon-chevron-down"></span>Project Information</a>
     <ul class="nav nav-list">
      <li><a href="ci-management.html" title="CI Management"><span class="none"></span>CI Management</a></li>
      <li><a href="dependencies.html" title="Dependencies"><span class="none"></span>Dependencies</a></li>
      <li><a href="dependency-info.html" title="Dependency Information"><span class="none"></span>Dependency Information</a></li>
      <li class="active"><a href="#"><span class="none"></span>About</a></li>
      <li><a href="issue-management.html" title="Issue Management"><span class="none"></span>Issue Management</a></li>
      <li><a href="licenses.html" title="Licenses"><span class="none"></span>Licenses</a></li>
      <li><a href="plugin-management.html" title="Plugin Management"><span class="none"></span>Plugin Management</a></li>
      <li><a href="plugins.html" title="Plugins"><span class="none"></span>Plugins</a></li>
      <li><a href="scm.html" title="Source Code Management"><span class="none"></span>Source Code Management</a></li>
      <li><a href="summary.html" title="Summary"><span class="none"></span>Summary</a></li>
      <li><a href="team.html" title="Team"><span class="none"></span>Team</a></li>
     </ul></li>
    <li><a href="project-reports.html" title="Project Reports"><span class="icon-chevron-right"></span>Project Reports</a></li>
  </ul>
          </nav>
          <div class="well sidebar-nav">
            <hr />
            <div id="poweredBy">
              <div class="clear"></div>
              <div class="clear"></div>
              <div class="clear"></div>
<a href="http://maven.apache.org/" title="Built by Maven" class="poweredBy"><img class="builtBy" alt="Built by Maven" src="https://www.projectkeep.io/keep-core/images/logos/maven-feather.png" /></a>
            </div>
          </div>
        </header>
        <main id="bodyColumn"  class="span10" >
{{{Body}}}
        </main>
      </div>
    </div>
    <hr/>
    <footer>
      <div class="container-fluid">
        <div class="row-fluid">
            <p>Copyright &#169;      2020<a href="https://www.projectkeep.io">HCL Labs</a>.
.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
